body {
    background-color: #FFEBCD;
    text-align: center;
    color: #F5FFFA;
    font-family: 'Quicksand', sans-serif;
}

section {
    margin: 2%;
}

a {
    color: inherit;
}

img {
    border: 3px double #6d371e;
    width: 80%;
    filter: drop-shadow(3px 3px brown)
}

h2 {
    font-size: 2.5em;
    margin: 0;
}

h5 {
    font-size: 2em;
    margin: 0;
    margin-top: 1%;
}

p {
    font-size: 2em;
    margin: 0;
}

.subheading {
    font-size: 1.3em;
    color:#A0522D;
    font-weight: 600;
    margin-bottom: 1%;
}

.border-design {
    background: linear-gradient(#A0522D, #c26a40);
    border-radius: 3%;
}


nav p {
    margin: 3%;
    list-style-type: none;
    display: inline-block;
    color: #A0522D;
    font-size: 3em;
    border: 0.001em dotted #A0522D;
    border-radius: 5%;
    text-decoration: none;

  }
.container {
    display: grid;
    height: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;    
}

.navcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 12;
}

.navone {
    grid-column: 1/2;
    grid-row: 1;
}

.navtwo {
    grid-column: 2/3;
}

.navthree {
    grid-column: 3/4;
}

.headerimage {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 12;
}

.timelines {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 12;
}

.content {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 12;
}

.tribes-intro {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 12;
}

.tribes-orgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2px;
    grid-row-start: 7;
    grid-row-end: 8;
}

.tribes {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-rows: repeat(12, 1fr);
    align-items: baseline;
}

.locations {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-column-start: 2;
    grid-column-end: 3;
    align-items: baseline;
}

.coharie {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.haliwa {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.sappony {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ebci {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.waccamaw {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column: 1 / 2;
}

.meherrin {
    grid-row: 6/7;
    grid-column: 1/2;
}

.lumbee {
    grid-row: 7/8;
    grid-column: 1/2;
}

.occaneechi {
    grid-row: 8/9;
    grid-column: 1/2;
}

.cumberland {
    grid-row: 9/10;
    grid-column: 1/2;
}

.metrolina {
    grid-row: 10/11;
    grid-column: 1/2;
}

.triangle {
    grid-row: 11/12;
    grid-column: 1/2;
}

.guilford {
    grid-row: 12/13;
    grid-column: 1/2;
}

.loc1 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.loc2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.loc3 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.loc4 {
    grid-row: 4/5;
    grid-column: 2/3;
}

.loc5 {
    grid-row: 5/6;
    grid-column: 2/3;
}

.loc6 {
    grid-row: 6/7;
    grid-column: 2/3;           
}

.loc7 {
    grid-row: 7/8;
    grid-column: 2/3;
}

.loc8 {
    grid-row: 8/9;
    grid-column: 2/3;
}

.loc9 {
    grid-row: 9/10;
    grid-column: 2/3;
}

.loc10 {
    grid-row: 10/11;
    grid-column: 2/3;
}

.loc11 {
    grid-row: 11/12;
    grid-column: 2/3;
}

.loc12 {
    grid-row: 12/13;
    grid-column: 2/3;
}

.container-two {
    display: grid;
    height: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2px;   
}

.page-intro {
    grid-column: 2/12;
    grid-row: 1/2;
}

.religion-articles {
    grid-column: 2/12;
    grid-row: 2/3;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    column-gap: 5px;
}

.card-design {
    border-style: dotted;
    background: linear-gradient(#A0522D, #c26a40);

}

.rel-header {
    grid-column: 1/5;
    grid-row: 1/2;
}

.rel-1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.rel-2 {
    grid-column: 2/3;
    grid-row: 2/3;
}


.rel-3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.rel-4 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.rel-para {
    grid-column: 2/12;
    grid-row: 3/4;
}


.myths-articles {
    grid-column: 2/12;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3px;
}

.myth-intro {
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 1%;
}

.myth-header {
    grid-column: 1/4;
    grid-row: 1/2;
}

.sacagawea {
    grid-column: 1/2;
    grid-row: 3/4;
}

.pocahontas {
    grid-column: 2/3;
    grid-row: 3/4;
}

.john-smith {
    grid-column: 3/4;
    grid-row: 3/4;
}

.container-three {
    display: grid;
    height: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
}

.essay-title {
    grid-column: 2/12;
}

.essay-intro {
    grid-column: 2/12;
    grid-row: 1/2;
}

.essay-content {
    grid-column: 2/12;
    grid-row: 2/3;
}

.essay-design {
        background: linear-gradient(#A0522D, #c26a40);
        border-radius: 1%;
        border-style: groove;
}

.citations {
    grid-column: 2/12;
    grid-row: 3/4;
}

.hidden {
    display: none;
      
}